In [148]:
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(random_state=0)
titanic_train=pd.read_csv("train.csv")
validation=titanic_train["Survived"]
titanic_test=pd.read_csv("test.csv")
preproc=titanic_train.drop(["Survived","Name"],axis=1)
preproc1=titanic_test.drop(["Name"],axis=1)

In [133]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer1=SimpleImputer(missing_values=np.nan,strategy="median")
imputer2=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
X_numtrain=preproc.select_dtypes(include=[np.number])
X_chartrain=preproc.select_dtypes(include=object)
X_numtrain1=X_numtrain.copy()
X_chartrain1=X_chartrain.copy()
imputer1.fit(X_numtrain1)
Y_numtrain=preproc1.select_dtypes(include=[np.number])
Y_chartrain=preproc1.select_dtypes(include=object)
Y_numtrain1=Y_numtrain.copy()
Y_chartrain1=Y_chartrain.copy()
imputer1.fit(X_numtrain1)

SimpleImputer(strategy='median')

In [134]:
imputer2.fit(X_chartrain1)

SimpleImputer(strategy='most_frequent')

In [20]:
imputer2.statistics_

array(['male', '1601', 'B96 B98', 'S'], dtype=object)

In [135]:
X1=imputer1.transform(X_numtrain1)
Y1=imputer1.transform(Y_numtrain1)

In [161]:
X_numtrain=pd.DataFrame(X1,columns=X_numtrain.columns,
                         index=X_numtrain.index)
Y_numtrain=pd.DataFrame(Y1,columns=Y_numtrain.columns,
                         index=Y_numtrain.index)

In [162]:
X2=imputer2.transform(X_chartrain1)
X_chartrain=pd.DataFrame(X2,columns=X_chartrain.columns,
                         index=X_chartrain.index)
Y2=imputer2.transform(Y_chartrain1)
Y_chartrain=pd.DataFrame(Y2,columns=Y_chartrain.columns,
                         index=Y_chartrain.index)

In [164]:
Y_numtrain

     PassengerId  Pclass   Age  SibSp  Parch      Fare
0          892.0     3.0  34.5    0.0    0.0    7.8292
1          893.0     3.0  47.0    1.0    0.0    7.0000
2          894.0     2.0  62.0    0.0    0.0    9.6875
3          895.0     3.0  27.0    0.0    0.0    8.6625
4          896.0     3.0  22.0    1.0    1.0   12.2875
..           ...     ...   ...    ...    ...       ...
413       1305.0     3.0  27.0    0.0    0.0    8.0500
414       1306.0     1.0  39.0    0.0    0.0  108.9000
415       1307.0     3.0  38.5    0.0    0.0    7.2500
416       1308.0     3.0  27.0    0.0    0.0    8.0500
417       1309.0     3.0  27.0    1.0    1.0   22.3583

[418 rows x 6 columns]

In [177]:
frames=[X_numtrain,X_chartrain]
X=pd.concat(frames,axis=1,join='outer')
frames1=[Y_numtrain,Y_chartrain]
Y=pd.concat(frames1,axis=1,join='outer')

In [178]:
Y

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin,Embarked
0,892.0,3.0,34.5,0.0,0.0,7.8292,male,330911,B57 B59 B63 B66,Q
1,893.0,3.0,47.0,1.0,0.0,7.0000,female,363272,B57 B59 B63 B66,S
2,894.0,2.0,62.0,0.0,0.0,9.6875,male,240276,B57 B59 B63 B66,Q
3,895.0,3.0,27.0,0.0,0.0,8.6625,male,315154,B57 B59 B63 B66,S
4,896.0,3.0,22.0,1.0,1.0,12.2875,female,3101298,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...
413,1305.0,3.0,27.0,0.0,0.0,8.0500,male,A.5. 3236,B57 B59 B63 B66,S
414,1306.0,1.0,39.0,0.0,0.0,108.9000,female,PC 17758,C105,C
415,1307.0,3.0,38.5,0.0,0.0,7.2500,male,SOTON/O.Q. 3101262,B57 B59 B63 B66,S
416,1308.0,3.0,27.0,0.0,0.0,8.0500,male,359309,B57 B59 B63 B66,S
417,1309.0,3.0,27.0,1.0,1.0,22.3583,male,2668,B57 B59 B63 B66,C

In [179]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder=OrdinalEncoder()
X_preenc=X[["Sex","Ticket","Cabin","Embarked"]]
X=X.drop(["Sex","Ticket","Cabin","Embarked"],axis=1)
Y_preenc=Y[["Sex","Ticket","Cabin","Embarked"]]
Y=Y.drop(["Sex","Ticket","Cabin","Embarked"],axis=1)

In [180]:
X_enc=ordinal_encoder.fit_transform(X_preenc)
Y_enc=ordinal_encoder.fit_transform(Y_preenc)

In [181]:
Y_enc

array([[  1., 152.,  15.,   1.],
       [  0., 221.,  15.,   2.],
       [  1.,  73.,  15.,   1.],
       ...,
       [  1., 346.,  15.,   2.],
       [  1., 220.,  15.,   2.],
       [  1., 105.,  15.,   0.]])

In [182]:
X3=pd.DataFrame(X_enc,columns=X_preenc.columns,index=X_preenc.index)
Y3=pd.DataFrame(Y_enc,columns=Y_preenc.columns,index=Y_preenc.index)

In [184]:
X4=X.copy()
Y4=Y.copy()
X4

     PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1.0     3.0  22.0    1.0    0.0   7.2500
1            2.0     1.0  38.0    1.0    0.0  71.2833
2            3.0     3.0  26.0    0.0    0.0   7.9250
3            4.0     1.0  35.0    1.0    0.0  53.1000
4            5.0     3.0  35.0    0.0    0.0   8.0500
..           ...     ...   ...    ...    ...      ...
886        887.0     2.0  27.0    0.0    0.0  13.0000
887        888.0     1.0  19.0    0.0    0.0  30.0000
888        889.0     3.0  27.0    1.0    2.0  23.4500
889        890.0     1.0  26.0    0.0    0.0  30.0000
890        891.0     3.0  32.0    0.0    0.0   7.7500

[891 rows x 6 columns]

In [187]:
frames=[X4,X3]
X=pd.concat(frames,axis=1,join="outer")
frames1=[Y4,Y3]
Y=pd.concat(frames1,axis=1,join="outer")

In [188]:
Y

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin,Embarked
0,892.0,3.0,34.5,0.0,0.0,7.8292,1.0,152.0,15.0,1.0
1,893.0,3.0,47.0,1.0,0.0,7.0000,0.0,221.0,15.0,2.0
2,894.0,2.0,62.0,0.0,0.0,9.6875,1.0,73.0,15.0,1.0
3,895.0,3.0,27.0,0.0,0.0,8.6625,1.0,147.0,15.0,2.0
4,896.0,3.0,22.0,1.0,1.0,12.2875,0.0,138.0,15.0,2.0
...,...,...,...,...,...,...,...,...,...,...
413,1305.0,3.0,27.0,0.0,0.0,8.0500,1.0,267.0,15.0,2.0
414,1306.0,1.0,39.0,0.0,0.0,108.9000,0.0,324.0,22.0,0.0
415,1307.0,3.0,38.5,0.0,0.0,7.2500,1.0,346.0,15.0,2.0
416,1308.0,3.0,27.0,0.0,0.0,8.0500,1.0,220.0,15.0,2.0
417,1309.0,3.0,27.0,1.0,1.0,22.3583,1.0,105.0,15.0,0.0

In [192]:
from sklearn.preprocessing import StandardScaler
std_scaler=StandardScaler()
X_trainnp=std_scaler.fit_transform(X)
Y_trainnp=std_scaler.fit_transform(Y)

In [193]:
X_train=pd.DataFrame(X_trainnp,columns=X.columns,index=X.index)
Y_train=pd.DataFrame(Y_trainnp,columns=Y.columns,index=Y.index)

In [195]:
X_train

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin,Embarked
0,-1.730108,0.827377,-0.549335,0.432793,-0.473674,-0.502445,0.737695,0.918966,-0.354012,0.585954
1,-1.726220,-1.566107,0.677728,0.432793,-0.473674,0.786845,-1.355574,1.282625,1.380749,-1.942303
2,-1.722332,0.827377,-0.242570,-0.474545,-0.473674,-0.488854,-1.355574,1.646283,-0.354012,0.585954
3,-1.718444,-1.566107,0.447653,0.432793,-0.473674,0.420730,-1.355574,-1.442322,0.400232,0.585954
4,-1.714556,0.827377,0.447653,-0.474545,-0.473674,-0.486337,0.737695,0.664904,-0.354012,0.585954
...,...,...,...,...,...,...,...,...,...,...
886,1.714556,-0.369365,-0.165878,-0.474545,-0.473674,-0.386671,0.737695,-1.183277,-0.354012,0.585954
887,1.718444,-1.566107,-0.779410,-0.474545,-0.473674,-0.044381,-1.355574,-1.616678,-0.542573,0.585954
888,1.722332,0.827377,-0.165878,0.432793,2.008933,-0.176263,-1.355574,1.676173,-0.354012,0.585954
889,1.726220,-1.566107,-0.242570,-0.474545,-0.473674,-0.044381,0.737695,-1.646568,0.588793,-1.942303
890,1.730108,0.827377,0.217579,-0.474545,-0.473674,-0.492378,0.737695,0.635014,-0.354012,-0.678175

In [197]:
clf.fit(X_train,validation)

LogisticRegression(random_state=0)

In [212]:
Y

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin,Embarked
0,892.0,3.0,34.5,0.0,0.0,7.8292,1.0,152.0,15.0,1.0
1,893.0,3.0,47.0,1.0,0.0,7.0000,0.0,221.0,15.0,2.0
2,894.0,2.0,62.0,0.0,0.0,9.6875,1.0,73.0,15.0,1.0
3,895.0,3.0,27.0,0.0,0.0,8.6625,1.0,147.0,15.0,2.0
4,896.0,3.0,22.0,1.0,1.0,12.2875,0.0,138.0,15.0,2.0
...,...,...,...,...,...,...,...,...,...,...
413,1305.0,3.0,27.0,0.0,0.0,8.0500,1.0,267.0,15.0,2.0
414,1306.0,1.0,39.0,0.0,0.0,108.9000,0.0,324.0,22.0,0.0
415,1307.0,3.0,38.5,0.0,0.0,7.2500,1.0,346.0,15.0,2.0
416,1308.0,3.0,27.0,0.0,0.0,8.0500,1.0,220.0,15.0,2.0
417,1309.0,3.0,27.0,1.0,1.0,22.3583,1.0,105.0,15.0,0.0

In [208]:
Y_results1=clf.predict(Y)

In [214]:
Y_results2=pd.DataFrame(Y_results1,columns=["Survived"])

In [215]:
Y_id=Y["PassengerId"]

In [217]:
frames=[Y_id,Y_results2]
Y_results=pd.concat(frames,axis=1,join="outer")

In [228]:
Y_results["PassengerId"]=Y_results[["PassengerId"]].apply(pd.to_numeric)

In [229]:
Y_results.to_csv('Results1.csv',index=False)

In [230]:
Y_results

     PassengerId  Survived
0          892.0       0.0
1          893.0       0.0
2          894.0       0.0
3          895.0       0.0
4          896.0       0.0
..           ...       ...
413       1305.0       0.0
414       1306.0       0.0
415       1307.0       0.0
416       1308.0       0.0
417       1309.0       1.0

[418 rows x 2 columns]

In [236]:
Y_results=Y_results.astype({"PassengerId":'int',"Survived":"int"})

In [237]:
Y_results

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]